#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    max-height: 50px;
    position: fixed;
    background-color: #E9D758;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 36px 0px;
    z-index: 99;
  }
  
  .nav-logo {
    height: 7vh;
  }
  
  .nav-logo-menu {
    position: relative;
    top: 0;
    height: 25vh;
  }
  
  @media only screen and (max-width: 1024px) {
    #navbar {
    align-items: left;
    justify-content: flex-start;
    }
    }
  
  .nav-logo-menu {
    display: none;
  }
  
    @media only screen and (max-width: 1024px) {
      .nav-logo-menu {
        display: block;
      }
      }
  
  #navbar.active .nav-links a {
    display: flex;
  }
  
  #navbar.active .nav-links {
    display: flex;
  }
  #navbar.active .nav-logo {
    display: none;
  }
  
  .nav-links a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-right: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.20em;
    color: #1F1300;
  }
  
  @media only screen and (max-width: 1024px) {
    .nav-links a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-right: 0;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.20em;
    display: none;
    color: #1F1300;
    }
    }
  
  @media only screen and (max-width: 1024px) {
    .nav-links {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 35vh;
      height: 100vh;
      top: 0;
      left: 0;
      display: none;
      background-color: #E9D758;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
    }
    }

    .nav-logo {
      top: 0;
      left: 0;
      height: 7vh;
    }
  
  .mobile-menu {
    color: #1F1300;
    cursor: pointer;
    display: none;
  }
  
  @media only screen and (max-width: 1024px) {
    .mobile-menu {
      display: block;
      z-index: 99;
    }
  }
  
  .underline {
    display: inline-block;
    position: relative;
  }
  
  .underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 10px;
    left: 0;
    background-color: #1F1300;
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
  }
  
  .underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom;
  }

  .btn-login {
    padding: 5px 5px 5px 10px;
    border: 2.5px solid #1F1300;
  }

  .user-img {
    margin: -7.5px 2.5px;
    width: 4vh;
    border-radius: 50%;
  }  
  
  #dropdown {
    cursor: pointer;
  }

  #dropdown-section {
    display: none;
    position: fixed; 
    z-index: 99; 
    padding-top: 60px;
    right: 100;
    top: 0;
    width: auto; 
    height: auto; 
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 36px 0px;
    background-color: #E9D758;
    animation-name: dropdown;
    animation-duration: 0.5s
  }

  @keyframes dropdown {
    from {opacity: 0}
    to {opacity: 1}
    }

  .dropdown-content a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #1F1300;
  }
