@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #F6F8FF;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  height: 50px;
  position: fixed;
  z-index: 99;
  transition: 500ms ease-in-out;
}

.nav-logo-menu {
  position: relative;
  top: 0;
  height: 25vh;
}

@media only screen and (max-width: 1024px) {
  #navbar {
    align-items: left;
    justify-content: flex-start;
  }
}

.nav-logo-menu {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .nav-logo-menu {
    display: block;
  }
}

#navbar.active .nav-links a {
  display: flex;
  color: #1F1300;
}

#navbar.active .nav-links {
  display: flex;
}

#navbar.active .nav-logo {
  display: none;
}

  
@media only screen and (max-width: 1024px) {
  .nav-logo-menu {
    display: block;
  }
  }

@media only screen and (max-width: 1024px) {
#navbar.active .nav-links a {
  display: flex;
}

#navbar.active .nav-links {
  display: flex;
}
#navbar.active .nav-logo {
  display: none;
}
}

@media only screen and (max-width: 1024px) {
  .nav-links a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-right: 0;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.20em;
    display: none;
    color: #1F1300;
  }
}

@media only screen and (max-width: 1024px) {
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    background-color: #E9D758;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
  }
}

@media only screen and (max-width: 736px) {
  .nav-links {
    width: 35vw;
  }
  }

  @media only screen and (max-width: 480px) {
    .nav-links {
      width: 45vw;
    }
    }

.mobile-menu {
  color: #E9D758;
  cursor: pointer;
  display: none;
}

#navbar.active .mobile-menu {
  color: #1F1300;
}

#navbar.active .underline:after {
  background-color: #1F1300;
}

@media only screen and (max-width: 1024px) {
  .mobile-menu {
    display: block;
    z-index: 99;
  }
}

.nav-logo {
  opacity: 0;
  top: 0;
  left: 0;
  height: 7vh;
  transition: 500ms ease-in-out;
}

.nav-links a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin-right: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.20em;
  color: #E9D758;
}

.underline {
  display: inline-block;
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: #E9D758;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.navbar-scrolled {
  background-color: #E9D758;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 36px 0px;
  transition: 500ms ease-in-out;
}

.navbar-scrolled .nav-logo {
  opacity: 100;
}

.navbar-scrolled .nav-links a {
  color: #1F1300;
}

.navbar-scrolled .nav-links #btn-login {
  border: 2.5px solid #1F1300;
}

.navbar-scrolled .nav-links .btn-login svg {
  stroke: #1F1300;
}

.navbar-scrolled .nav-links .underline:after {
  background-color: #1F1300;
}

.navbar-scrolled .mobile-menu {
  color: #1F1300;
}

#btn-login {
  padding: 5px 5px 5px 10px;
  border: 2.5px solid #E9D758;
  cursor: pointer;
}

.user-img {
  margin: -0.5em 0;
  object-fit: cover;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
}

#dropdown {
  cursor: pointer;
}

#dropdown-section {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 60px;
  right: 100;
  top: 0;
  width: auto;
  height: auto;
}

@media only screen and (max-width: 1024px){
  #dropdown-section{
    padding-top: 85vw;
    right: 40vw;
  }
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
  background-color: #E9D758;
  animation-name: dropdown;
  animation-duration: 0.5s
}

@keyframes dropdown {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.dropdown-content a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #1F1300;
}

#btn-top {
    display: none;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 500ms ease-in-out;
  }
  
  .carousel {
    position: relative;
  }

  .carousel-item {
    width: 100%;
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.452);
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-inner::after {
    display: block;
    clear: both;
    content: "";
  }
  
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none;
    }
  }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }
  
  /* rtl:begin:ignore */
  .carousel-item-next:not(.carousel-item-start),
  .active.carousel-item-end {
    transform: translateX(100%);
}
  
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start {
    transform: translateX(-100%);
}

  .about-section{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 1rem 0;
    width: 100%;
    height: auto;
    background-color: #E9D758;
    border-radius: 3.5rem;
  }

  .about_us{
    position: relative;
    width: 35%;
    display: flex;
    flex-direction: column;
  }
  
  .about_us h2{
    margin: 1rem 0 0.5rem 0;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    color: #1F1300;
  }

  .about_us p{
    color: #1F1300;
    letter-spacing: 0.1rem;
    font-size: 1.45rem;
    font-family: 'Roboto', sans-serif;
  }

  .about_resourses{
    width: 35%;
    display: flex;
    flex-direction: column;
  }

  .about_resourses h2{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    color: #1F1300;
  }

  .about_resourses:nth-child(2) div{
    margin: 0 0 1rem 0;
  }

  .about_resourses p{
    color: #1F1300;
    letter-spacing: 0.1rem;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
  }

  .about_resourses__link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 0.15rem solid #1F1300;
    cursor: pointer;
    transform-origin: left;
    transition: transform 0.25s ease-out;
  }

  .about_resourses__link p{
    margin: 0;
     color: #1F1300;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
  }

  .about_resourses__link:hover{
    border: 0.15rem solid #E9D758;
    background-color: #1F1300;
  }

  .about_resourses__link:hover p{
    color: #E9D758;
  }

  .about_resourses__link:hover i{
    color: #E9D758;
  }
  
  .ongs-section{
    display: flex;
    padding: 0 2.5rem 0 2.5rem;
    width: 100%;
  }

  .ongs_description{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    background-color: #F6F8FF;
    z-index: 2;
  }

  .ongs_description h2{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    color: #1F1300;
  }

  .ongs_description p{
    color: #1F1300;
    letter-spacing: 0.1rem;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
  }

  .owl-carousel{
    max-width: 75%;
  }

  .card {
    width: 22vw;
    height: 30vw;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #F6F8FF;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
  }  
  .card img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.9;
      filter: brightness(90%);
      transition: opacity .2s ease-out;
    }
  
    .card h2 {
      position: absolute;
      inset: auto auto 30px 30px;
      margin: 0;
      transition: inset .3s .3s ease-out;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
    }
    
    .card p, .card a {
      position: absolute;
      opacity: 0;
      max-width: 80%;
      font-weight: 500;
      transition: opacity .3s ease-out;
    }
    
    .card p {
      inset: auto auto 80px 30px;
    }
    
    .card a {
      inset: auto auto 40px 30px;
      color: inherit;
      text-decoration: none;
    }
    
    .card:hover h2 {
      inset: auto auto 50% 30px;
      transition: inset .3s ease-out;
    }
    
    .card:hover p, .card:hover a {
      opacity: 1;
      transition: opacity .5s .1s ease-in;
    }
    
    .card:hover img {
      filter: brightness(75%);
      transition: all .3s ease-in-out;
      opacity: 1;
    }

  .card .material-symbols-outlined {
    vertical-align: middle;
  }

  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E9D758;
    margin-top: 2.5rem;
    padding: 0 10rem 0 10rem;
    width: 100%;
    height: 5vw;
    border-radius: 1rem 1rem 0 0;
  }

  footer img{
    height: 100%;
  }

  .footer-elements{
    display: flex;
    color: #bdaf46;
  }

  .footer-elements .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 60
}

  .background-popup{
  display: none;
  align-items: center;
  word-wrap: break-word;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4)
}

  .background-popup .popup {
  position: absolute;
  width: 100%;
  left: 20%;
  top: 30%;
  margin: auto;
  display: flex;
}

  .img-logo{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .background-popup .popup .logo-content{
  padding: 25px;
  border-radius: 10px 0px 0px 10px;
  width: 30%;
  background-color: #E9D758;
}

  #btn-fechar{
    cursor: pointer;
    color: #1F1300;
}

  .background-popup .popup .login-popup-content{
  background-color: #F6F8FF;
  padding: 25px;
  border-radius: 0px 10px 10px 0px;
  width: 30%;
  animation-name: animation;
  animation-duration: 0.5s;
  left: 30%;
}

  .title-login {
  font-family: 'ROBOTO', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #1F1300;
}



input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #1F1300;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 36px 0px;
  background-color: #F6F8FF;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  input {
    width: auto;
  }
}

@media (prefers-reduced-motion: reduce) {
  input {
    transition: none;
  }
}

 input:focus {
  color: #1F1300;
  background-color: #F6F8FF;
  border-color: rgb(233, 215, 88);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(233, 215, 88, 0.25);
}

 input::after .form-control-placeholder {
  display: block;
 }

  .form-login a {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  color: #1F1300;
  }

  .register-text {
  position: relative;
  bottom: 0;
  margin-top: 5%;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 10px;
  color: #1F1300;
  }

.input-text {
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  line-height: 5px;
  color: #1F1300;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute; 
  top: 0;
  padding: 0.5rem 0.75rem;
  transition: all 300ms;
  pointer-events: none;
  font-family: 'Roboto', sans-serif;
  color: #1F1300;
  opacity: 0.75;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 80%;
  transform: translate3d(0, -90%, 0);
  font-family: 'Roboto', sans-serif;
  color: #1F1300;
  opacity: 0.75;
}

.btn-login-popup {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  right: 0;
  height: 50px;
  border: 0;
  transition: all 300ms;
  border-radius: 10px;
  color: #1F1300;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 36px 0px;
  background-color: #E9D758;
}


.btn-login-popup:hover {
  transform: scale(98%);
}

.back-home {
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .back-home {
    display: none;
  }
}

  .swal2-popup {
  font-family: 'PT Sans', sans-serif;
}

