@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #F6F8FF;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  position: relative;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  height: 50px;
  background-color: #E9D758;
  position: fixed;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
}

.nav-logo {
  height: 7vh;
}

.nav-logo-menu {
  position: relative;
  top: 0;
  height: 25vh;
}

@media only screen and (max-width: 1024px) {
  #navbar {
  align-items: left;
  justify-content: flex-start;
  }
  }

.nav-logo-menu {
  display: none;
}

  @media only screen and (max-width: 1024px) {
    .nav-logo-menu {
      display: block;
    }
    }

#navbar.active .nav-links a {
  display: flex;
}

#navbar.active .nav-links {
  display: flex;
}
#navbar.active .nav-logo {
  display: none;
}

.nav-links a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin-right: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.20em;
  color: #1F1300;
}

@media only screen and (max-width: 1024px) {
  .nav-links a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin-right: 0;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.20em;
  display: none;
  color: #1F1300;
  }
  }

@media only screen and (max-width: 1024px) {
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35vh;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    background-color: #E9D758;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
  }
  }

.mobile-menu {
  color: #1F1300;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 1024px) {
  .mobile-menu {
    display: block;
    z-index: 99;
  }
}

.underline {
  display: inline-block;
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: #1F1300;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.info-ongs {
    position: absolute;
    border-radius: 25px;
    left: 0.5em;
    top: 60px;
    width: 35vw;
    background-color: #F6F8FF;
    height: auto;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
    word-wrap: break-word;
    font-family: 'PT Sans', sans-serif;
    z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .info-ongs {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 0;
    left: 0;
  }
  }

.info-ongs h1 {
    margin-left: 15px;
    color: #1F1300;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}

.info-ongs h2 {
    width: 95%; 
    margin-left: 15px;
    color: #1F1300;
    font-weight: 600;
    line-height: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.info-ongs p{
    margin: 0 15px 0 15px;
    color: #1F1300;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.img-ong {
    object-fit: cover;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
    position: relative;
    margin: auto;
    display: block;
    width: 95%;
    height: 350px;
    top: 15px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.social a {
  text-decoration: none;
  color: #1F1300;
}

.popup-title {
    color: #1F1300;
    font-family: 'Open Sans', sans-serif;
}

.popup-text {
    color: #1F1300;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

#map {
  position: fixed;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #map {
    position: absolute;
    width: 100vw;
    height: 75%;
    object-fit: cover;
  }
  }
