@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@100;300;400;700&display=swap');

/* font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #F6F8FF;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  position: relative;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.bk-white {
  background-color: #F6F8FF;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  height: 50px;
  background-color: #E9D758;
  position: fixed;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
  transition: 500ms ease-in-out;
}

.nav-links a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin-right: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.20em;
  color: #1F1300;
}

.underline {
  display: inline-block;
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: #1F1300;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.info-ongs {
    position: relative;
    border-radius: 25px;
    left: 10px;
    top: 60px;
    width: 550px;
    height: 100%;
    background-color: #F6F8FF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
    word-wrap: break-word;
    font-family: 'PT Sans', sans-serif;
}

.info-ongs h1 {
    margin-left: 15px;
    font-size: 40px;
}

.info-ongs h2 {
    width: 95%; 
    margin-left: 15px;
    font-size: 30px;
}

.img-ong {
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
    position: relative;
    margin: auto;
    display: block;
    width: 95%;
    top: 15px;
}

#map {
    width: 100%;
  }