@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background:rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #F6F8FF;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.carousel-img {
  width: 100%;
  height: 95vh;
  object-fit: cover;
  filter: brightness(30%);
}

@media only screen and (max-width: 1024px) {
  .carousel-img {
    height: 50vh;
  }
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

.info-section {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 95vh;
  width: 100%;
  z-index: 1;
}


@media only screen and (max-width: 1024px) {
  .info-section {
    height: 50vh;
  }
}

.info-section h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  font-size: clamp(2.5rem, 3vw, 3.5rem);
  color: #F6F8FF;
  line-height: 10px;
}

.info-section a {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: clamp(0.75rem, 1.25vw, 1.75rem);
  color: #E9D758;
  line-height: 10px;
  margin-top: 15px;
  padding: 0.5em;
  border: 2.5px solid #E9D758;
}

.info-section p {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: 300;
  color: #E9D758;
  line-height: 10px;
  margin-top: 30px;
}

.beecloud-logo {
  width: 25%;
}

.parallax-img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  filter: brightness(30%);
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  position: relative;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  height: 50px;
  position: fixed;
  z-index: 99;
  transition: 500ms ease-in-out;
}

.nav-logo-menu {
  position: relative;
  top: 0;
  height: 25vh;
}

@media only screen and (max-width: 1024px) {
  #navbar {
    align-items: left;
    justify-content: flex-start;
  }
}

.nav-logo-menu {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .nav-logo-menu {
    display: block;
  }
}

#navbar.active .nav-links a {
  display: flex;
  color: #1F1300;
}

#navbar.active .nav-links {
  display: flex;
}

#navbar.active .nav-logo {
  display: none;
}

  
@media only screen and (max-width: 1024px) {
  .nav-logo-menu {
    display: block;
  }
  }

@media only screen and (max-width: 1024px) {
#navbar.active .nav-links a {
  display: flex;
}

#navbar.active .nav-links {
  display: flex;
}
#navbar.active .nav-logo {
  display: none;
}
}

@media only screen and (max-width: 1024px) {
  .nav-links a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-right: 0;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.20em;
    display: none;
    color: #1F1300;
  }
}

@media only screen and (max-width: 1024px) {
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    background-color: #E9D758;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
  }
}

@media only screen and (max-width: 736px) {
  .nav-links {
    width: 35vw;
  }
  }

  @media only screen and (max-width: 480px) {
    .nav-links {
      width: 45vw;
    }
    }

.mobile-menu {
  color: #E9D758;
  cursor: pointer;
  display: none;
}

#navbar.active .mobile-menu {
  color: #1F1300;
}

#navbar.active .underline:after {
  background-color: #1F1300;
}

@media only screen and (max-width: 1024px) {
  .mobile-menu {
    display: block;
    z-index: 99;
  }
}

.nav-logo {
  opacity: 0;
  top: 0;
  left: 0;
  height: 7vh;
  transition: 500ms ease-in-out;
}

.nav-links a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin-right: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.20em;
  color: #E9D758;
}

.underline {
  display: inline-block;
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: #E9D758;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.navbar-scrolled {
  background-color: #E9D758;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 36px 0px;
  transition: 500ms ease-in-out;
}

.navbar-scrolled .nav-logo {
  opacity: 100;
}

.navbar-scrolled .nav-links a {
  color: #1F1300;
}

.navbar-scrolled .nav-links .btn-login {
  border: 2.5px solid #1F1300;
}

.navbar-scrolled .nav-links .btn-login svg {
  stroke: #1F1300;
}

.navbar-scrolled .nav-links .underline:after {
  background-color: #1F1300;
}

.navbar-scrolled .mobile-menu {
  color: #1F1300;
}

.btn-login {
  padding: 5px 5px 5px 10px;
  border: 2.5px solid #E9D758;
}

.user-img {
  margin: -0.5em 0;
  object-fit: cover;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
}

#dropdown {
  cursor: pointer;
}

#dropdown-section {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 60px;
  right: 100;
  top: 0;
  width: auto;
  height: auto;
}

@media only screen and (max-width: 1024px){
  #dropdown-section{
    padding-top: 85vw;
    right: 40vw;
  }
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
  background-color: #E9D758;
  animation-name: dropdown;
  animation-duration: 0.5s
}

@keyframes dropdown {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.dropdown-content a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #1F1300;
}


.main-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 0 5rem 0 5rem;
  background-color: #F6F8FF;
}

@media only screen and (max-width: 1024px) {
  .main-section {
    padding: 0 1rem 0 1rem;
  }
}

.main-section-content {
  position: relative;
  flex-direction: column;
  width: 100%;
  z-index: 2;
}

.main-section-content h1 {
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  font-size: clamp(1.8rem, 2.5vw, 2.8rem);
  width: 100%;
  font-weight: 600;
  color: #1F1300;
}

/* @media only screen and (min-width: 1024px) {
  .main-section-content p {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .main-section-content p {
    font-size: 40px;
  }
} */

/* h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
} */

.main-section-content p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #1F1300;
  width: 95%;
}

@media only screen and (min-width: 1600px) {
  .main-section-content p {
    font-size: clamp(2.4em, 1em + 1vw, 3.4em);
  }
}

@media only screen and (min-width: 1440px) {
  .main-section-content p {
    font-size: clamp(2.15em, 1em + 1vw, 3.15em);
  }
}

@media only screen and (min-width: 1280px) {
  .main-section-content p {
    font-size: clamp(1.9em, 1em + 1vw, 2.9em);
  }
}

@media only screen and (min-width: 1024px) {
  .main-section-content p {
    font-size: clamp(1.65em, 1em + 1vw, 2.65em);
  }
}

@media only screen and (min-width: 800px) {
  .main-section-content p {
    font-size: clamp(1.4em, 1em + 1vw, 2.4em);
  }
}

@media only screen and (min-width: 600px) {
  .main-section-content p {
    font-size: clamp(1.15em, 1em + 1vw, 2.15em);
  }
}

@media only screen and (min-width: 480px) {
  .main-section-content p {
    font-size: clamp(0.9em, 1em + 1vw, 1.9em);
  }
}

@media only screen and (min-width: 360px) {
  .main-section-content p {
    font-size: clamp(0.65em, 1em + 1vw, 1.65em);
  }
}

@media only screen and (max-width: 1024px) {
  .main-section-content p {
    width: 100%;
  }
}

.main-section img {
  border-radius: 25px;
  margin-top: 2.5rem;
  width: 65%;
  height: 55vh;
  object-fit: cover;
  pointer-events: none;
  filter: contrast(80%);
  object-position: 0% 50%;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.32) 0px 10px 36px 0px;
}

@media only screen and (max-width: 1024px) {
  .main-section img {
    display: none;
  }
}

/* .beeongs-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2.5rem;
  background-color: #E9D758;
  width: 100%;
  height: 65vh;
  z-index: 2;
} */

/* .beeongs-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5em;
  width: 50%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%231F1300FF' stroke-width='6' stroke-dasharray='19%2c 21' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.beeongs-frame h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  margin-bottom: -0.5em;
  color: #1F1300;
}

.beeongs-frame p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  padding: 0 10px 0 30px;
  font-weight: 500;
  color: #1F1300;
} */

.beeongs-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: #E9D758;
  margin-top: -2rem;
  height: auto;
  z-index: 2;
  padding: 0 5rem 0 5rem;
}

@media only screen and (max-width: 1024px) {
  .beeongs-section {
    padding: 2.5rem 1rem 0 0;
    background-color: #F6F8FF;
  }
}

.beeongs-section-content {
  display: flex;
  flex-direction: column;
  width: 95%;
  z-index: 2;
}

@media only screen and (max-width: 1024px) {
  .beeongs-section-content {
    width: 100%;
  }
}

.beeongs-section-content h1 {
  word-wrap: break-word;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: clamp(1.25rem, 2.25vw, 2.25rem);
  padding-left: 1.5em;
  font-weight: 600;
  color: #1F1300;
}

.beeongs-section-content p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  padding-left: 2em;
  color: #1F1300;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .beeongs-section-content p {
    padding-left: 1.25em;
  }
}

@media only screen and (min-width: 1600px) {
  .beeongs-section-content p {
    font-size: clamp(2.4em, 1em + 1vw, 3.4em);
  }
}

@media only screen and (min-width: 1440px) {
  .beeongs-section-content p {
    font-size: clamp(2.15em, 1em + 1vw, 3.15em);
  }
}

@media only screen and (min-width: 1280px) {
  .beeongs-section-content p {
    font-size: clamp(1.9em, 1em + 1vw, 2.9em);
  }
}

@media only screen and (min-width: 1024px) {
  .beeongs-section-content p {
    font-size: clamp(1.65em, 1em + 1vw, 2.65em);
  }
}

@media only screen and (min-width: 800px) {
  .beeongs-section-content p {
    font-size: clamp(1.4em, 1em + 1vw, 2.4em);
  }
}

@media only screen and (min-width: 600px) {
  .beeongs-section-content p {
    font-size: clamp(1.15em, 1em + 1vw, 2.15em);
  }
}

@media only screen and (min-width: 480px) {
  .beeongs-section-content p {
    font-size: clamp(0.9em, 1em + 1vw, 1.9em);
  }
}

@media only screen and (min-width: 360px) {
  .beeongs-section-content p {
    font-size: clamp(0.65em, 1em + 1vw, 1.65em);
  }
}

@media only screen and (max-width: 1024px) {
  .beeongs-section-content p {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .beeongs-section-content p {
    width: 100%;
  }
}

.beeongs-section img {
  border-radius: 25px;
  width: 55%;
  height: 55vh;
  object-fit: cover;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.32) 0px 10px 36px 0px;
}

@media only screen and (max-width: 1024px) {
  .beeongs-section img {
    display: none;
  }
}

#btn-top {
  display: none;
  height: 2.5vw;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

@media only screen and (max-width: 1024px) {
 #btn-top {
    height: 5vw;
  }
}

.background-wave {
  position: relative;
  margin-top: -15rem;
  width: 100%;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .background-wave {
    display: none;
  }
}

.background-wave-second {
  position: relative;
  width: 100%;
  color: #1F1300;
  transform: rotate(180deg);
  margin-top: -0.5em;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .background-wave-second {
    display: none;
  }
}

.title-cards {
  text-align: center;
  color: #1F1300;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  position: relative;
  margin: auto;
  z-index: 3;
}

.owl-carousel {
  margin-top: -5rem;
}

@media only screen and (max-width: 1024px) {
  .owl-carousel {
    margin-top: 0;
  }
}

.card {
  width: 300px;
  height: 450px;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.32) 0px 10px 36px 0px;
  z-index: 3;
  transition: transform 0.25s ease-out;
}

.card:hover {
  transform: scale(0.98);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 75%);
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  border-radius: 15px;
}

.card .info {
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  z-index: 3;
  color: #1F1300;
  opacity: 0;
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
}

.card .info h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  line-height: 5px;
}

.card .info h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  line-height: 0px;
}

.card .info p {
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
}

.footer {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #E9D758;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #1f130025;
}

.footer-logo {
  position: relative;
  top: 0;
  left: 0;
}

.footer-logo img {
  width: 15vh;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.footer-links h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 0.5rem;
  color: #1F1300;
}

.footer-links a {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 0.5rem;
  color: #1F1300;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.footer-contact h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 0.5rem;
  color: #1F1300;
}

.footer-contact a {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 0.5rem;
  color: #1F1300;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1F1300;
}

body.js-enabled .noscript {
  display: none;
}

.noscript {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #E9D758;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
}

.noscript img {
  width: 25%;
  height: 15%;
  object-fit: cover;
}

.noscript p {
  font-family: 'Roboto', sans-serif;
  color: #1F1300;
  font-size: 28px;
  font-weight: 700;
}

.noscript a {
  font-family: 'Roboto', sans-serif;
  color: #1F1300;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
}

.lds-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color:#E9D758;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #1F1300;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1F1300 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
