@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background:rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #F6F8FF;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  position: relative;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

#btn-top {
  display: none;
  height: 2.5vw;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

@media only screen and (max-width: 1024px) {
  #btn-top {
    height: 5vw;
  }
 }

.input-text {
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  line-height: 5px;
  color: #1F1300;
}

.form-group {
  position: relative;
  margin: 1.5rem 0 1.5rem 0;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 0.5rem 0.75rem;
  transition: all 300ms;
  pointer-events: none;
  font-family: 'Roboto', sans-serif;
  color: #1F1300;
  opacity: 0.75;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
  font-size: 80%;
  transform: translate3d(0, -90%, 0);
  font-family: 'Roboto', sans-serif;
  color: #1F1300;
  opacity: 0.75;
}

input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #1F1300;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 36px 0px;
  background-color: #F6F8FF;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  input {
    transition: none;
  }
}

input:focus {
  color: #1F1300;
  background-color: #F6F8FF;
  border-color: rgb(233, 215, 88);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(233, 215, 88, 0.25);
}

.input-block {
  pointer-events: none;
}

input::after .form-control-placeholder {
  display: block;
}

textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #1F1300;
  resize: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 36px 0px;
  background-color: #F6F8FF;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  textarea {
    transition: none;
  }
}

textarea:focus {
  color: #1F1300;
  background-color: #F6F8FF;
  border-color: rgb(233, 215, 88);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(233, 215, 88, 0.25);
}

textarea::after .form-control-placeholder {
  display: block;
}

.header-info {
  padding-top: 5em;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-around;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #1f130025;
}

.user-info {
  display: flex;
  align-items: flex-end;
}

.user-details {
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
}

.user-icon {
  object-fit: cover;
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
}

.username {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  line-height: 0.5px;
  color: #1F1300;
}

.date-user {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 0.5px;
  font-weight: 500;
  color: #1F1300;
}

#btn-settings {
  float: right;
  cursor: pointer;
  margin-top: 0.5rem;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #1F130050;
  background-color: #ffffff;
  color: #1F130090;
  font-family: 'Roboto',
    sans-serif;
  font-weight: 700;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 36px 0px;
}

#side-info {
  position: absolute;
  margin: 25px auto;
  left: 2.5%;
  width: 37.5%;
  height: auto;
  background-color: #ffffff;
  word-wrap: break-word;
  border-radius: 25px;
  padding-bottom: 1.5em;
  border: 1px solid #1f130025;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 10px 36px 0px;
  padding: 20px;
}

@media only screen and (max-width: 1024px) {
 #side-info {
  position: relative;
  left: 0;
  width: 90%;
 }
}


#side-info h1 {
  margin: 0 15px 0 15px;
  color: #1F1300;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}

#side-info h2 {
  width: 95%;
  margin-left: 15px;
  color: #1F1300;
  font-weight: 600;
  line-height: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

#side-info p {
  margin: 0 15px 0 15px;
  color: #1F1300;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.post-section {
  position: relative;
  margin: 25px auto;
  left: 20%;
  width: 55%;
  height: auto;
  background-color: #ffffff;
  word-wrap: break-word;
  border-radius: 25px;
  padding-bottom: 1.5em;
  border: 1px solid #1f130025;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 10px 36px 0px;
  padding: 20px;
}

@media only screen and (max-width: 1024px) {
 .post-section {
  left: 0;
  width: 90%;
 }
}


.post-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.user-icon-post {
  object-fit: cover;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

.user-info-post {
  margin: 10px 0 0 10px;
}

.date-post {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  font-weight: 500;
  color: #1F1300;
}

.username-post {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  line-height: 1px;
  color: #1F1300;
}

.post-date {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  color: #1F1300;
}

.post-area {
  display: flex;
  flex-direction: row;
  background-color: #F6F8FF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 36px 0px;
  padding: 20px;
  border-radius: 25px;
}

.post-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  line-height: 0.25em;
  color: #1F1300;
}

.post-desc {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  color: #1F1300;
}

.post-img {
  object-fit: cover;
  width: 100%;
  height: 75vh;
  border-radius: 10px;
}

.no-publish {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  margin: 25px auto;
  left: 20%;
  width: 55%;
  height: auto;
  background-color: #ffffff;
  word-wrap: break-word;
  border-radius: 25px;
  padding-bottom: 1.5em;
  border: 1px solid #1f130025;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 10px 36px 0px;
  padding: 20px;
}

.no-publish a {
  color: #1F130075;
}

.no-publish h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  line-height: 0.25em;
}

.modal {
  display: none;
  align-items: center;
  word-wrap: break-word;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: block;
  background-color: #F6F8FF;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  width: 35%;
  animation-name: animation;
  animation-duration: 0.5s
}

@media only screen and (max-width: 1024px) {
  .modal-content{
    width: 90%;
  }
}

.modal-content h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  line-height: 0.25em;
  color: #1F1300;
}

.modal-content p {
  height: 5vh;
  width: auto;
  padding: 0.35rem 0.725rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Open Sans',
    sans-serif;
  color: #1F1300;
  opacity: 0.75;
  cursor: pointer;
}

.modal-content span {
  height: 5vh;
  color: #FF3864;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Open Sans',
    sans-serif;
  padding: 0.35rem 0.725rem;
  opacity: 0.75;
  cursor: pointer;
}

.close-btn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: #1F1300;
  text-decoration: none;
  cursor: pointer;
}


@keyframes animation {
  from {
    top: 50vh;
    opacity: 0
  }

  to {
    top: 50vh;
    opacity: 1
  }
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-optc {
  position: relative;
  flex-direction: row;
}

.fa-image {
  cursor: pointer;
  margin-right: 5px;
}

.fa-face-smile {
  cursor: pointer;
}

#btn-form {
  width: 20%;
  height: 5vh;
  padding: 0.35rem 0.725rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'PT Sans', sans-serif;
  color: #1F1300;
  background-color: #E9D758;
  background-clip: padding-box;
  border: 0px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  appearance: none;
}

#input-img {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.input-icon {
  color: #1F1300;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

input[type="file"] {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 15%;
  height: 15%;
  z-index: 2;
}

.icon-config {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.icon-config:hover .fa-camera {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.fa-camera {
  opacity: 0;
  position: absolute;
  color: #E9D758;
}

#img-preview {
  height: 25vh;
  width: 25vh;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
}

#confirm-delete {
  cursor: pointer;
  background-color: #FF3864;
  text-decoration: none;
  padding: 5px 5px 5px 10px;
  border: 0px;
  color: #F6F8FF;
  padding: 0.35rem 0.725rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

#form-aboutme {
  display: none;
}

#form-email {
  display: none;
}

#form-senha {
  display: none;
}

#form-tel {
  display: none;
}

#form-delete {
  display: none;
}

#btn-aboutme {
  float: right;
  cursor: pointer;
  margin-top: 0.5rem;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #1F130065;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 36px 0px;
}

#btn-email {
  float: right;
  cursor: pointer;
  margin-top: 0.5rem;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #1F130065;
  color: #ffffff;
  font-family: 'Roboto',
    sans-serif;
  font-weight: 700;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 36px 0px;
}

#btn-password {
  float: right;
  cursor: pointer;
  margin-top: 0.5rem;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #1F130065;
  color: #ffffff;
  font-family: 'Roboto',
    sans-serif;
  font-weight: 700;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 36px 0px;
}

#btn-tel {
  float: right;
  cursor: pointer;
  margin-top: 0.5rem;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #1F130065;
  color: #ffffff;
  font-family: 'Roboto',
    sans-serif;
  font-weight: 700;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 36px 0px;
}